<div class="container">
  <div class="row register d-flex justify-content-around">
    <div class="col-6">
      <h2>Welcome to Shop24x7</h2>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem
        minima voluptatem consectetur repellendus! Recusandae obcaecati hic
        vitae, nesciunt veniam nisi unde nemo dolores expedita. Voluptatibus
        soluta vel sed eum quo numquam amet cum minus excepturi ex enim id eos
        nemo corporis dolor nihil nesciunt labore recusandae, veritatis autem
        alias praesentium qui. Aliquam natus nobis vero dicta reiciendis
        distinctio velit ratione sint aut! Sed?
      </p>
    </div>
    <form
      #f="ngForm"
      class="col-4 border border-secondary px-4 py-2 rounded"
      (ngSubmit)="onRegister()"
      [mustMatch]="['password1', 'password2']"
    >
      <h3 class="text-center mb-2">Register</h3>
      <!-- <div
        *ngIf="userAlreadyExistsError"
        class="invalid-feedback d-block text-center"
      >
        User already exists.
      </div> -->
      <div class="d-flex mb-2 justify-content-between">
        <div class="form-group" style="margin-right: 16px">
          <label>First Name</label>
          <input
            class="form-control"
            type="text"
            id="firstName"
            placeholder="First Name"
            #firstName="ngModel"
            required
            [(ngModel)]="user.firstName"
            name="firstName"
            [ngClass]="{
              'is-invalid':
                !firstName.valid && (firstName?.dirty || firstName?.touched)
            }"
          />
          <div
            class="invalid-feedback d-block"
            *ngIf="!firstName.valid && (firstName?.dirty || firstName?.touched)"
          >
            <div *ngIf="firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input
            class="form-control"
            type="text"
            id="lastName"
            placeholder="Last Name"
            #lastName="ngModel"
            required
            [(ngModel)]="user.lastName"
            name="lastName"
            [ngClass]="{
              'is-invalid':
                !lastName.valid && (lastName?.dirty || lastName?.touched)
            }"
          />
          <div
            class="invalid-feedback d-block"
            *ngIf="!lastName.valid && (lastName?.dirty || lastName?.touched)"
          >
            <div *ngIf="lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <label>Email</label>
        <input
          class="form-control"
          type="email"
          id="email"
          placeholder="Email"
          #email="ngModel"
          required
          email
          [(ngModel)]="user.username"
          name="email"
          [ngClass]="{
            'is-invalid': !email.valid && (email?.dirty || email?.touched)
          }"
        />
        <div
          class="invalid-feedback d-block"
          *ngIf="!email.valid && (email?.dirty || email?.touched)"
        >
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be in correct format e.g. john@example.com
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <label>Password</label>
        <input
          class="form-control"
          type="password"
          id="password1"
          placeholder="Password"
          #password="ngModel"
          [(ngModel)]="user.password"
          name="password1"
          required
          minlength="8"
          [ngClass]="{
            'is-invalid':
              !password.valid && (password?.dirty || password?.touched)
          }"
        />
        <div
          class="invalid-feedback d-block"
          *ngIf="!password.valid && (password?.dirty || password?.touched)"
        >
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 8 characters
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <label>Confirm Password</label>
        <input
          class="form-control"
          type="password"
          id="password2"
          placeholder="Confirm Password"
          #password2="ngModel"
          [(ngModel)]="user.password2"
          name="password2"
          required
          [ngClass]="{
            'is-invalid':
              !password2.valid && (password2?.dirty || password2?.touched)
          }"
        />
        <div
          class="invalid-feedback d-block"
          *ngIf="!password2.valid && (password2?.dirty || password2?.touched)"
        >
          <div *ngIf="password2.errors.required">Password is required</div>
          <div *ngIf="password2.errors?.mustMatch">Passwords must match</div>
        </div>
      </div>
      <button
        class="btn btn-primary my-2 btn-block w-100"
        [disabled]="!f.valid"
      >
        Register
      </button>
      <div class="text-center text-secondary">Or</div>
      <a
        class="btn btn-link my-2 btn-block w-100"
        style="text-decoration: none"
        [routerLink]="['/login']"
        >Login</a
      >
    </form>
  </div>
</div>
