.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.card {
  position: relative;
}

.card-text {
  min-height: 48px;
}

.top-label {
  background-color: var(--bs-yellow);
  padding: 0 4px;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 12px;
  font-weight: bold;
}

.department-label {
  background-color: var(--bs-cyan);
  padding: 0 4px;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
}

.top-products {
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}

.top-products:first-child {
  border-left: none;
}

.top-products:last-child {
  border-right: none;
}
